RELEASE-NOTES.txt merge=union

.configure-files/*.enc binary

# Track large binary assets via Git LFS
fastlane/appstoreres/assets/** filter=lfs diff=lfs merge=lfs -text
fastlane/promo_screenshots/**/*.png filter=lfs diff=lfs merge=lfs -text
