/WooCommerce/UITestsFoundation/ @woocommerce/mobile-ui-testing-squad
/WooCommerce/WooCommerceUITests/ @woocommerce/mobile-ui-testing-squad
/WooCommerce/WooCommerceScreenshots/ @woocommerce/mobile-ui-testing-squad
