WOO_BUILD_DIR = $(TARGET_BUILD_DIR)
WOO_WATCHOS_FRAMEWORK_SEARCH_PATHS = $(WOO_BUILD_DIR)/CocoaLumberjack-watchOS
WOO_IOS_FRAMEWORK_SEARCH_PATHS = $(WOO_BUILD_DIR)/CocoaLumberjack-iOS

FRAMEWORK_SEARCH_PATHS = $(inherited)
FRAMEWORK_SEARCH_PATHS[sdk=watchos*] = $(WOO_WATCHOS_FRAMEWORK_SEARCH_PATHS)
FRAMEWORK_SEARCH_PATHS[sdk=watchsimulator*] = $(WOO_WATCHOS_FRAMEWORK_SEARCH_PATHS)
FRAMEWORK_SEARCH_PATHS[sdk=iphoneos*] = $(WOO_IOS_FRAMEWORK_SEARCH_PATHS)
FRAMEWORK_SEARCH_PATHS[sdk=iphonesimulator*] = $(WOO_IOS_FRAMEWORK_SEARCH_PATHS)

OTHER_LDFLAGS = $(inherited) -framework CocoaLumberjack
