PILOT_API_KEY_PATH=".configure-files/app_store_connect_fastlane_api_key.json" # fastlane testlight
DELIVER_API_KEY_PATH=$PILOT_API_KEY_PATH # fastlane deliver
SIGH_API_KEY_PATH=$PILOT_API_KEY_PATH # fastlane match

GHHELPER_ACCESS=<GitHub access token>
SENTRY_AUTH_TOKEN=<Sentry auth token>

APPCENTER_API_TOKEN=<AppCenter API Token>
