SENTRY_AUTH_TOKEN=<Sentry auth token>

APP_STORE_CONNECT_API_KEY_KEY_ID=<App Store Connect API key ID>
APP_STORE_CONNECT_API_KEY_ISSUER_ID=<App Store Connect API issuer ID>
APP_STORE_CONNECT_API_KEY_KEY=<App Store Connect API private key>
